  .container {
    margin: 0 0 0 200px;
    width: 90vw; 
    height: 100vh;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
  
  .head {
      text-align: center;
      border-bottom: 3px solid #1e73be;
      padding-bottom: 10px;
      margin-bottom: 20px;
  }

  .head h1 {
      font-size: 2em;
      color: #1e73be;
  }
  
  .content {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 20px;
  }
  .profile-image {
      
      width: 250px;
      height: 350px;
      border-radius: 8px;
  }
  .info {
      flex: 1;
      min-width: 200px;
  }

  .info h1 {
      font-size: 1.5em;
      margin-bottom: 10px;
      color: #1e73be;
      
  }


  .info p {
    color: black;
      line-height: 1.6;
  }
  .details {
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(2, minmax(150px, 1fr));
      gap: 10px;
  }
  .details p {
      margin: 5px 0;
      color: #555;
  }
  .details p::before {
      content: "➤";
      color: #1e73be;
      font-weight: bold;
      margin-right: 8px;
  }
  .details span {
      font-weight: bold;
      color: #1e73be;
  }

